
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
    font-family: "Poppins", sans-serif;
}

.banner-background{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* copyed this from chat gpt */
.grid-item {
    border: 0.5px solid #E7E7E7;
}

/* Remove border from top edge */
.grid-item:nth-child(-n+3) {
    border-top: none;
}

/* Remove border from bottom edge */
.grid-item:nth-last-child(-n+3) {
    border-bottom: none;
}

/* Remove border from left edge */
.grid-item:nth-child(3n+1) {
    border-left: none;
}

/* Remove border from right edge */
.grid-item:nth-child(3n) {
    border-right: none;
}